* {
    box-sizing:  border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
}

#main-container {
    
}

#header {
    border: 1px solid black;
    padding: 3px;
}

div.hmenu {
    height: 38px;
    padding: 3px;
    border: 1px solid black;
}

#main-body {
    padding: 3px;
    border: 1px solid black;
}

#context-menu {
    float: left;
    width:  64px;
    height: 600px;
    border: 1px solid black;
}

/* Container for Hex Viewer and Panels*/
#panel-div {
    padding-left: 67px;
    border: 1px solid black;
}

/* Bytemap Panel */
#visual-panel-canvas {
    background: grey;
    width: 600px;
    height: 600px;
    padding: 3px;
}

/* Hex viewer*/
#hex-viewer {
    margin-top: 5px;
    min-height: 512px;
    padding: 3px;
    font-family: monospace;
    font-size: 16px;
    width:  800px;
    position: relative;
    border:  1px solid black;
}

#hex-viewer .columnar {
    display: inline-block;
    vertical-align: top;
}

#hex-viewer .offset {
    width: 100px;
    text-align: center;
    border-right: 2px solid grey;
}

#hex-viewer .offset > span::after {
    content: '\A';
    white-space: pre;
}


/* -- Hex Viewer Hex Numbers view*/
#hex-viewer .hex {
    width: 360px;
    border-right: 1px solid grey;
}

#hex-viewer .hex>span:nth-child(2n) {
		color: #959595;
}

/* -- Hex Viewer Text View */
#hex-viewer .text {
    width:  200px;
}

/* ---- For every 16th span child */
#hex-viewer .display-window>span:nth-child(16n)::after{
    content: "\A";
    white-space: pre;
}

#hex-viewer .display-window>span:nth-child(16n+8)::after {
    content: " ";
    white-space: pre;
}

#hex-viewer .hexHighlight {
		background-color: #F000EA;
		font-weight:bold;
}

/* -- Hex Viewer Scrollbar */
#hex-viewer .scrollbar {
    position: absolute;
    background-color: #F0F0F0;
    right: 0px;
    top:  0px;
    bottom:  0px;
    width:  16px;
}

#hex-viewer #scroll-up {
    height: 16px;
		background: url("../img/arrowup.png");
}
#hex-viewer #scroll-up.enabled:hover {
		background: url("../img/arrowup_hover.png");
}

#hex-viewer .disabled {
		opacity: 0.2;
}

#hex-viewer #scroll-bottom {
    height:  16px;
    bottom: 0px;
    position: absolute;
    width: 16px;
		background: url("../img/arrowdown.png");
}
#hex-viewer #scroll-bottom.enabled:hover {
		background: url("../img/arrowdown_hover.png");
}

#hex-viewer #scroll-track {
	position: absolute;
	height: 20px;
	width: 16px;
	background-color: #D0D0D0;
	top: 16px;
}

#hex-viewer #scroll-track:hover {
	background-color: #A0A0A0;
}

#hex-viewer span {
    padding: 1px 1px;
}

/* For large screens, place hex viewer to the side*/
@media (min-width: 1200px) {
    #hex-viewer {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
    }

    #visual-panel-canvas {
        display: inline-block;
    }
}

/* Main Canvas*/
#main-canvas {
    width: 100%;
    height: 100%;
}

/* Buffer Container*/
#buffer-container {
    display: none;
}

.buffer-canvas {
    display: none;
}

img.button {
    height: 32px;
}